.header {
  display: flex;
  justify-content: center;
  background: #e9e9e9;
  font-size: 16px; }
  .header .header-wrap {
    max-width: 1366px;
    width: 100%; }
    .header .header-wrap .header__top {
      display: flex;
      justify-content: center;
      padding: 38px 0; }
      .header .header-wrap .header__top .mt-img img {
        width: 30px;
        height: 23px; }
        .header .header-wrap .header__top .mt-img img:hover {
          opacity: .5; }
      .header .header-wrap .header__top .header__nav {
        display: none;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600; }
        .header .header-wrap .header__top .header__nav .nav-item {
          margin: 0 30px 0 0; }
          .header .header-wrap .header__top .header__nav .nav-item a {
            text-decoration: none;
            color: #141414; }
            .header .header-wrap .header__top .header__nav .nav-item a:hover {
              color: #10c9c3;
              cursor: pointer; }
          .header .header-wrap .header__top .header__nav .nav-item:last-child {
            margin-right: 0; }
    .header .header-wrap .header__disc {
      display: flex;
      justify-content: center;
      padding: 0 20px 50px 20px; }
      .header .header-wrap .header__disc .md-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 485px; }
        .header .header-wrap .header__disc .md-wrapper h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 35px; }
        .header .header-wrap .header__disc .md-wrapper p {
          color: #818181; }
        .header .header-wrap .header__disc .md-wrapper a {
          text-decoration: none;
          color: white;
          background: #10c9c3;
          width: 180px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          margin-top: 40px;
          border-radius: 3px; }
          .header .header-wrap .header__disc .md-wrapper a:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .header .mobile_menu {
    position: fixed;
    right: 0;
    top: 20px;
    transition: 0.5s;
    z-index: 5; }
    .header .mobile_menu .mobile_nav {
      position: absolute;
      right: -15px;
      list-style: none;
      text-transform: uppercase;
      font-weight: 600;
      text-align: end;
      background: white;
      padding: 10px;
      border-radius: 10px;
      transition: 1s;
      transform: translateX(170px); }
      .header .mobile_menu .mobile_nav .mob-item {
        margin: 0 30px 0 0; }
        .header .mobile_menu .mobile_nav .mob-item a {
          text-decoration: none;
          color: #141414; }
          .header .mobile_menu .mobile_nav .mob-item a:hover {
            color: #10c9c3;
            cursor: pointer; }
    .header .mobile_menu .men-btn {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      .header .mobile_menu .men-btn span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background: #000;
        margin-top: -1px;
        margin-left: -10px; }
      .header .mobile_menu .men-btn::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background: #000;
        transition: .5s;
        margin-top: -1px;
        margin-left: -10px;
        transform: translateY(5px); }
      .header .mobile_menu .men-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background: #000;
        transition: .5s;
        margin-top: -1px;
        margin-left: -10px;
        transform: translateY(-5px); }
    .header .mobile_menu .btn-active {
      transform: translateX(0); }

@media (min-width: 1000px) {
  .header .header-wrap .header__top {
    justify-content: space-between;
    max-width: 1175px;
    padding: 38px 100px 185px; }
    .header .header-wrap .header__top .header__nav {
      display: block;
      display: flex; }
  .header .header-wrap .header__disc {
    justify-content: flex-end;
    margin-right: 100px;
    padding-bottom: 200px; }
    .header .header-wrap .header__disc .md-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start; }
  .header .header-wrap .mobile_menu {
    display: none; } }

.about {
  text-align: center;
  padding: 0 20px; }
  .about .about__title {
    font-family: "Montserrat", sans-serif;
    color: #141414;
    text-transform: capitalize;
    margin-top: 105px; }
  .about .about__disc {
    max-width: 580px;
    color: #818181;
    margin: auto;
    margin-bottom: 40px; }
  .about img {
    margin-bottom: 100px; }

@media (min-width: 1000px) {
  .about {
    padding: 0; } }

.profskills {
  display: flex;
  justify-content: center;
  background: #f8f9f9;
  padding: 0 20px; }
  .profskills .prof-wrap {
    position: relative;
    max-width: 1366px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profskills .prof-wrap .skills__wrapper {
      margin-top: 70px;
      width: 100%;
      max-width: 585px;
      margin-bottom: 165px; }
      .profskills .prof-wrap .skills__wrapper .capitlize {
        position: relative;
        text-transform: uppercase;
        border-bottom: 2px solid gray;
        padding-bottom: 18px;
        padding-top: 40px;
        max-width: 500px; }
      .profskills .prof-wrap .skills__wrapper .ui {
        position: relative; }
        .profskills .prof-wrap .skills__wrapper .ui:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 75%;
          height: 2px;
          background: #10c9c3;
          box-shadow: 0 0 5px #10c9c3; }
      .profskills .prof-wrap .skills__wrapper .web {
        position: relative; }
        .profskills .prof-wrap .skills__wrapper .web:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 90%;
          height: 2px;
          background: #10c9c3;
          box-shadow: 0 0 5px #10c9c3; }
      .profskills .prof-wrap .skills__wrapper .marketing {
        position: relative; }
        .profskills .prof-wrap .skills__wrapper .marketing:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 65%;
          height: 2px;
          background: #10c9c3;
          box-shadow: 0 0 5px #10c9c3; }
      .profskills .prof-wrap .skills__wrapper .s-title {
        text-transform: capitalize; }

@media (min-width: 1200px) {
  .prof-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 65%;
    margin-top: 126px;
    background-image: url(../img/skillbg.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset 25px 15px 38px #f8f9f9; } }

@media (min-width: 1000px) {
  .profskills {
    padding-left: 100px;
    padding-right: 100px; }
    .profskills .prof-wrap {
      align-items: flex-start; }
      .profskills .prof-wrap .skills__wrapper {
        margin-top: 170px; } }

.blueline {
  display: flex;
  justify-content: center;
  background: #10c9c3;
  color: white;
  text-transform: uppercase; }
  .blueline .bl-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1366px;
    width: 100%; }
    .blueline .bl-wrap .bl-bloks {
      display: flex;
      align-items: center;
      width: 350px;
      margin-left: 50px; }
      .blueline .bl-wrap .bl-bloks .bb-text {
        line-height: .5;
        margin-left: 28px; }

@media (min-width: 1000px) {
  .blueline {
    padding: 100px; }
    .blueline .bl-wrap {
      justify-content: space-around; }
      .blueline .bl-wrap .bl-bloks {
        margin-left: 0; }
        .blueline .bl-wrap .bl-bloks .bb-text {
          margin-left: 28px; } }

@media (min-width: 1200px) {
  .blueline .bl-wrap {
    flex-wrap: nowrap; } }

.works {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #818181; }
  .works .works-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    z-index: 0; }
    .works .works-wrapper .wwq {
      position: relative;
      max-width: 600px;
      width: 100%;
      height: 400px;
      cursor: pointer;
      transition: .3;
      background: lightgray; }
      .works .works-wrapper .wwq img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0; }
    .works .works-wrapper .hide {
      display: none; }
    .works .works-wrapper .show {
      display: block; }
    .works .works-wrapper .popup {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: none;
      text-align: center; }
    .works .works-wrapper .popup_bg {
      background: rgba(0, 0, 0, 0.7);
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto; }
    .works .works-wrapper .popup_img {
      position: fixed;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-height: 90%; }
    .works .works-wrapper .popup_img {
      pointer-events: none; }
  .works .load {
    height: 100px;
    width: 100%;
    background: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; }
    .works .load a {
      color: #818181;
      cursor: pointer; }
  .works .left-arrow {
    position: absolute;
    top: 47%;
    left: 15px;
    width: 20px;
    height: 40px;
    z-index: 1;
    cursor: pointer; }
    .works .left-arrow::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(-45deg); }
    .works .left-arrow::after {
      content: '';
      position: absolute;
      top: 23px;
      left: 0;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(45deg); }
  .works .right-arrow {
    position: absolute;
    top: 47%;
    right: 15px;
    width: 20px;
    height: 40px;
    z-index: 1;
    cursor: pointer; }
    .works .right-arrow::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(45deg); }
    .works .right-arrow::after {
      content: '';
      position: absolute;
      top: 23px;
      left: 0;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(-45deg); }

@media (min-width: 1000px) {
  .works .works-wrapper {
    justify-content: space-between; }
    .works .works-wrapper .wwq {
      position: relative;
      width: 33.33%;
      height: 300px;
      cursor: pointer;
      transition: .3;
      background: lightgray; }
    .works .works-wrapper .hide {
      display: block; }
    .works .works-wrapper::after {
      display: none; }
    .works .works-wrapper::before {
      display: none; }
  .works .left-arrow {
    display: none; }
  .works .right-arrow {
    display: none; } }

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; }
  .process .process__title {
    font-family: "Montserrat", sans-serif;
    color: #141414;
    text-transform: capitalize;
    margin-bottom: 45px; }
  .process .process__text {
    color: #818181;
    margin-bottom: 60px;
    max-width: 463px;
    width: 100%; }
  .process .process__video {
    max-width: 1171px;
    width: 100%;
    height: 555px;
    background: #e9e9e9;
    margin-bottom: 20px; }

@media (min-width: 1000px) {
  .process .process__title {
    margin-top: 100px; }
  .process .process__video {
    margin-bottom: 100px; } }

.services {
  display: flex;
  justify-content: center;
  background: #e9e9e9; }
  .services .serv__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1366px;
    width: 100%;
    padding: 100px 100px 240px 100px; }
    .services .serv__wrap .serv__blok {
      position: absolute;
      display: flex;
      flex-direction: column;
      max-width: 240px;
      align-items: center;
      text-align: center;
      color: #818181;
      margin-bottom: 63px;
      opacity: 0;
      transition: 1s; }
      .services .serv__wrap .serv__blok .blok-img {
        margin-bottom: 30px; }
      .services .serv__wrap .serv__blok .blok-title {
        color: #141414;
        text-transform: uppercase;
        margin-bottom: 19px; }
    .services .serv__wrap .s-active {
      transition: 1s;
      opacity: 1; }

@media (min-width: 1000px) {
  .services .serv__wrap {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 100px 27px 100px; }
    .services .serv__wrap .serv__blok {
      position: relative;
      opacity: 1; } }

.quotes {
  display: flex;
  justify-content: center;
  background: #10c9c3;
  color: white;
  padding: 0 20px; }
  .quotes .quotes__wrap {
    max-width: 1366px;
    width: 100%; }
    .quotes .quotes__wrap .quotes__container {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1366px;
      width: 100%;
      height: 300px;
      margin-bottom: 30px; }
      .quotes .quotes__wrap .quotes__container .container__blok {
        position: absolute;
        max-width: 567px;
        width: 100%;
        text-align: center;
        line-height: 2;
        font-size: 19px;
        background: #10c9c3;
        opacity: 0; }
        .quotes .quotes__wrap .quotes__container .container__blok .quotes-signature {
          text-transform: uppercase;
          font-size: 14px; }
      .quotes .quotes__wrap .quotes__container .q-active {
        transition: 1s;
        opacity: 1; }
    .quotes .quotes__wrap .qoutes__points {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1366px;
      width: 100%;
      padding-bottom: 30px; }
      .quotes .quotes__wrap .qoutes__points .quote-point {
        width: 6px;
        height: 6px;
        background: white;
        opacity: .5;
        margin-right: 10px;
        border-radius: 10px; }
      .quotes .quotes__wrap .qoutes__points .point-active {
        width: 12px;
        height: 12px;
        opacity: 1; }

@media (min-width: 1000px) {
  .quotes {
    padding: 0; }
    .quotes .quotes__container .container__blok {
      position: absolute;
      text-align: center;
      line-height: 2;
      font-size: 19px;
      background: #10c9c3; }
    .quotes .quote-point {
      margin-bottom: 60px; } }

.clients {
  display: flex;
  justify-content: center; }
  .clients .clients__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 14px;
    max-width: 1366px;
    width: 100%;
    height: 70px; }
    .clients .clients__wrap img {
      position: absolute;
      opacity: 0;
      z-index: 1; }
    .clients .clients__wrap .c-active {
      transition: 2s;
      opacity: 1;
      z-index: 2; }

@media (min-width: 1000px) {
  .clients .clients__wrap {
    justify-content: space-between;
    padding: 43px 130px; }
    .clients .clients__wrap img {
      position: relative;
      opacity: 1; } }

.project {
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  color: #818181; }
  .project .pro-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
    max-width: 1366px;
    width: 100%; }
    .project .pro-wrap .project__title {
      color: #141414; }
    .project .pro-wrap .project__text {
      max-width: 500px;
      text-align: center; }
    .project .pro-wrap .project__form {
      max-width: 674px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .project .pro-wrap .project__form input {
        border: none;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 3px; }
      .project .pro-wrap .project__form textarea {
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 100%; }
      .project .pro-wrap .project__form .comment {
        height: 170px; }
      .project .pro-wrap .project__form .short {
        width: 100%; }
      .project .pro-wrap .project__form button {
        background: #10c9c3;
        color: white;
        height: 55px;
        width: 180px;
        align-items: center;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        border: none;
        margin-top: 40px;
        border-radius: 3px; }
        .project .pro-wrap .project__form button:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

@media (min-width: 1000px) {
  .project .pro-wrap {
    padding: 100px 0; }
    .project .pro-wrap .project__form {
      max-width: 674px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .project .pro-wrap .project__form .short {
        width: 310px; }
      .project .pro-wrap .project__form textarea {
        padding: 10px;
        border: none;
        border-radius: 3px; } }

.footer {
  background: #000;
  color: white;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center; }
  .footer .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1366px;
    width: 100%; }
    .footer .footer-wrap a {
      text-decoration: none;
      color: white;
      text-transform: capitalize; }
      .footer .footer-wrap a:hover {
        opacity: .7; }
    .footer .footer-wrap li {
      list-style: none; }
    .footer .footer-wrap .footer__design {
      text-transform: capitalize;
      order: 4; }
    .footer .footer-wrap .footer__nav {
      display: flex;
      justify-content: space-around;
      order: 2; }
      .footer .footer-wrap .footer__nav .nav-left ul {
        padding: 0; }
    .footer .footer-wrap .footer__social {
      order: 1; }
      .footer .footer-wrap .footer__social ul {
        display: flex;
        padding: 0; }
        .footer .footer-wrap .footer__social ul:first-child {
          margin-left: 0; }
        .footer .footer-wrap .footer__social ul li {
          margin-left: 10px; }
    .footer .footer-wrap .footer__contacts {
      order: 3; }

@media (min-width: 1000px) {
  .footer {
    padding: 100px 126px 100px 100px; }
    .footer .footer-wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; }
      .footer .footer-wrap .footer__design {
        order: 1; }
      .footer .footer-wrap .footer__nav {
        order: 3; }
      .footer .footer-wrap .footer__social {
        order: 4; }
        .footer .footer-wrap .footer__social ul {
          display: flex;
          flex-direction: column; }
          .footer .footer-wrap .footer__social ul:first-child {
            margin-left: 0; }
          .footer .footer-wrap .footer__social ul li {
            margin-left: 0; }
      .footer .footer-wrap .footer__contacts {
        order: 2; } }

@media (max-width: 1000px) {
  .footer .footer-wrap {
    text-align: center; }
    .footer .footer-wrap .basis {
      max-width: 290px;
      width: 100%; } }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito Sans'; }
  body a {
    text-decoration: none; }
